/* app css stylesheet */
p, h1, body{
    color: #666;
}
ul#menu{
    padding: 0;
    margin: 0;

}
#menu li{
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom:10px;
  list-style: none;
  position: relative;
  display: inline-table;
  margin: 0 ;
  list-style: none;
  float: left;

}
#menu li.active{
    background: #eeeeee;
    color: #000000;
}
#menu li:hover{
    background: #eeeeee;
    color: #000000;
}

#menu li.active a{
    color: #000000;
}
#menu li:hover a{
    color: #000000;
}

#menu ul{
    padding: 0;
    position: absolute;
    top: 37px;
    left: 0;
    width: 150px;
    display: none;
}


#menu a{
    text-decoration: none;
    color: #999999;
}



#menu li:hover > ul {
    display: block;
    background: #eeeeee;
}



div#toolbar{
    width:100%;
    height:55px;
    left:0px;
    top: 0px;
    background-color: #eeeeee;
}
#logo{
    margin: 5px;
    float: left;
}
form#seachbar{
    padding-top:15px;
    float: right;
}

div#header{
    max-width:980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

div#header:after{
   /* clear: both; */
}

#toolbarHolder{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.appview{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

div#footer{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
div#footer a{
    color: #666;

}