/* app css stylesheet */
#menu{
    padding: 0;
}
#menu li{
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom:10px;
  list-style: none;
  position: relative;
  display: inline-table;

}
#menu li.active{
    background: #eeeeee;
    color: #000000;
}
#menu li:hover{
    background: #cccccc;
    color: #000000;
}

#menu li.active a{
    color: #000000;
}
#menu li:hover a{
    color: #000000;
}

#menu ul{
    padding: 0;
    position: absolute;
    /*top: 48px;*/
    left: 0;
    width: 150px;
    display: none;
}


#menu a{
    text-decoration: none;
    color: #999999;
}



#menu li:hover > ul {
    height: 50;
    display: block;
    background: #ccc;
}



div#toolbar{
    width:100%;
    height:50px;
    left:0px;
    top: 0px;
    background-color: #000000;
}

div#header{
    max-width:980px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.1em solid black;

}

div#header:after{
   /* clear: both; */
}

#toolbarHolder{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.appview{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

div#footer{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}