<img src="{{headerImage}}" width="980" height="219" />
<h1>{{title}}</h1>

<p>
    Reliable and affordable, Our company is fast becoming one of the leading manufacturers of heating equipment in the UK supplying boilers, radiators and towel warmers nationwide.
</p>
<p>
    During more than 50 years of manufacturing experience, we've established an enviable reputation for producing cost effective, high efficiency equipment that's easy to install and maintain.
</p>
<p>
    But we also understand that creating a great product is only half the story and take pride in providing unflagging aftersales support.  Our reassuring, "can-do" attitude ensures that no-one is more committed to lasting customer satisfaction.
</p>
